<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILibrary_Conductor" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILibrary_Conductor" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Library_Conductor" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILibrary_Conductor"
                contract="ILibrary_Conductor" name="BasicHttpBinding_ILibrary_Conductor" />
            <endpoint address="net.tcp://localhost:45617/Library_Conductor"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILibrary_Conductor"
                contract="ILibrary_Conductor" name="NetTcpBinding_ILibrary_Conductor">
                <identity>
                    <userPrincipalName value="DESKTOP-HVE17B9\drift" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>